USE [master]
GO
/****** Object:  Database [CMS]    Script Date: 5/3/2020 9:49:05 PM ******/
CREATE DATABASE [CMS]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'CMS', FILENAME = N'E:\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\CMS.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'CMS_log', FILENAME = N'E:\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\CMS_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [CMS].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [CMS]
GO
/****** Object:  Table [dbo].[Complaint]    Script Date: 5/3/2020 9:49:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Complaint](
	[ComplaintId] [int] IDENTITY(1,1) NOT NULL,
	[Subject] [nvarchar](250) NULL,
	[Department] [nvarchar](150) NULL,
	[Description] [nvarchar](1500) NULL,
	[CreatedBy] [int] NULL,
	[CreatedDate] [datetime] NULL,
	[IsResolved] [bit] NULL,
	[ResolvedBy] [int] NULL,
	[ResolvedDate] [datetime] NULL,
 CONSTRAINT [PK_Complaint] PRIMARY KEY CLUSTERED 
(
	[ComplaintId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 5/3/2020 9:49:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[UserId] [int] IDENTITY(1,1) NOT NULL,
	[UserEmail] [nvarchar](150) NULL,
	[Password] [nvarchar](25) NULL,
	[CreatedBy] [int] NULL,
	[CreatedDate] [datetime] NULL,
	[IsActive] [bit] NULL,
 CONSTRAINT [PK_Users] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Complaint] ON 

INSERT [dbo].[Complaint] ([ComplaintId], [Subject], [Department], [Description], [CreatedBy], [CreatedDate], [IsResolved], [ResolvedBy], [ResolvedDate]) VALUES (1, NULL, N'Support', N'bala bala bala', 1, CAST(N'2020-05-03T18:01:46.070' AS DateTime), NULL, NULL, NULL)
INSERT [dbo].[Complaint] ([ComplaintId], [Subject], [Department], [Description], [CreatedBy], [CreatedDate], [IsResolved], [ResolvedBy], [ResolvedDate]) VALUES (2, N'Internet is not working', N'Support', N'bala bala bala', 1, CAST(N'2020-05-03T18:02:18.703' AS DateTime), NULL, NULL, NULL)
SET IDENTITY_INSERT [dbo].[Complaint] OFF
SET IDENTITY_INSERT [dbo].[Users] ON 

INSERT [dbo].[Users] ([UserId], [UserEmail], [Password], [CreatedBy], [CreatedDate], [IsActive]) VALUES (1, N'shahid.ali@outlook.com', N'12345', 1, CAST(N'2020-05-03T00:00:00.000' AS DateTime), 1)
SET IDENTITY_INSERT [dbo].[Users] OFF
USE [master]
GO
